{% extends 'base.html.twig' %}

{% block title %}Packages{% endblock %}

{% block body %}
    <a href="{{ path('queue') }}">Queue</a> | Packages | <a href="{{ path('commits') }}">Commits</a>

    <h2>Packages</h2>
    <table class="collapse ba b--black-10 table">
        <tr class="striped--near-white">
            <th>#</th>
            <th>name</th>
            <th>arch</th>
            <th>Average build time</th>
        </tr>
        {% for package in packages %}
            <tr class="striped--near-white">
                <td>{{ package.id }}</td>
                <td>{{ package.aport }}</td>
                <td>{{ package.arch }}</td>
                <td>
                    {% if package.averageBuildTime is not null %}
                        {{ package.averageBuildTime|date }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
